@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radix-slider-thumb {
  --radix-slider-thumb-transform: translateX(-50%);
}
.radix-slider-thumb-transform{
  transform: var(--radix-slider-thumb-transform); 
  left: calc(0% + 0px);
}
.translate3d{
  transform: translate3d(0px, 0px, 0px); 
  content-visibility: visible;
}
.rt-SliderRoot:where(.rt-variant-soft) :where(.rt-SliderRange){
  background-color: black !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
