@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body,* {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Oswald'; */
  box-sizing: border-box;
  margin: 0;

  padding: 0;


}
.font-oswald{
  font-family: 'Oswald';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rt-ProgressRoot:where(.rt-variant-surface) :where(.rt-ProgressIndicator) {

  background: linear-gradient(to right, #E9D5FF, #7C3AED) !important;
}

.rt-SliderThumb::before {
  border-color: black;
}

.mobileIcon {
  height: 35px;
  cursor: pointer;
  z-index: 20;
  position: relative;
  display: flex;
  align-items: center;
  /* min-width: 44px; */
}
.mobileIcon div {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  display: inline-block;
  background:  black;
  position: relative;
  
  transition: all .3s ease 0s;
}
.mobileIcon div:before {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background: black;
  top: -8px;
  left: 0;
  transition: all .3s ease 0s;

}
.mobileIcon div:after {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background:  black;
  bottom: -8px;
  transition: all .3s ease 0s;
  left: 0;
}
.menu-open .mobileIcon div:before {
  transform: rotate(45deg);
  top: -1px;
  background:  black;
  
}
.menu-open .mobileIcon div:after {
  transform: rotate(-45deg);
  top: -1px;
  background: black;
}
.menu-open .mobileIcon div {
  background: rgb(255 255 255 / 0%);
}
.menu-open {
  overflow: hidden;
}
